name: Deploy to GitHub Pages

on:
  release:
    types: [published]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: github-pages

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build project
        env:
            VITE_APP_NAME: ${{ vars.APP_NAME }}
            VITE_APP_LOCAL_STORAGE_SUBJECTS_KEY: ${{ vars.APP_LOCAL_STORAGE_SUBJECTS_KEY }}
            VITE_APP_LOCAL_STORAGE_SEMESTERS_KEY: ${{ vars.APP_LOCAL_STORAGE_SEMESTERS_KEY }}
            VITE_APP_LOCAL_STORAGE_AUTOSAVE_KEY: ${{ vars.APP_LOCAL_STORAGE_AUTOSAVE_KEY }}
        run: npm run build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build