name: Release Drafter

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*' 

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Checkout main branch for changelog
        run: git checkout main

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'npm'
      
      - name: Install dependencies
        run: npm ci

      - name: Build project
        env:
            VITE_APP_NAME: ${{ vars.APP_NAME }}
            VITE_APP_LOCAL_STORAGE_SUBJECTS_KEY: ${{ vars.APP_LOCAL_STORAGE_SUBJECTS_KEY }}
            VITE_APP_LOCAL_STORAGE_SEMESTERS_KEY: ${{ vars.APP_LOCAL_STORAGE_SEMESTERS_KEY }}
            VITE_APP_LOCAL_STORAGE_AUTOSAVE_KEY: ${{ vars.APP_LOCAL_STORAGE_AUTOSAVE_KEY }}
        run: npm run build
        
      - name: Archive Release Assets (.zip)
        id: archive
        run: |
          TAG_NAME=${GITHUB_REF_NAME}
          REPO_NAME=$(basename ${{ github.repository }})

          echo "Archiving assets for ${TAG_NAME}..."

          # Archive the BUILD folder
          BUILD_ZIP="${REPO_NAME}-${TAG_NAME}-build.zip"
          zip -r $BUILD_ZIP ./build

          # Archive the SOURCE code (excluding .git, node_modules, build)
          SOURCE_PREFIX="${REPO_NAME}-${TAG_NAME}-source"

          # Create ZIP archive
          zip -r ${SOURCE_PREFIX}.zip . \
            -x ".git/*" "node_modules/*" "build/*"

          echo "BUILD_ZIP=$BUILD_ZIP" >> $GITHUB_OUTPUT
          echo "SOURCE_ZIP=${SOURCE_PREFIX}.zip" >> $GITHUB_OUTPUT

      - name: Generate Changelog
        id: changelog
        uses: TriPSs/conventional-changelog-action@v5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          output-file: 'false' 
          tag-prefix: 'v'
          preset: 'angular' 

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          tag_name: ${{ github.ref }}
          body: ${{ steps.changelog.outputs.changelog || 'No release notes available.' }}
          prerelease: ${{ contains(github.ref, '-') }} 
          draft: false 
          token: ${{ secrets.GITHUB_TOKEN }}
          files: |
            ${{ steps.archive.outputs.BUILD_ZIP }}
            ${{ steps.archive.outputs.SOURCE_ZIP }}
          make_latest: true